<?xml version="1.0" encoding="UTF-8"?>
<config>
	<users>
		<user name="user1" pass="123" role="укладальнік" />
		<user name="user2" pass="456" role="рэдактар" />
	</users>
	<roles>
		<role id="укладальнік">
			<permission>view_output</permission>
		</role>
		<role id="рэдактар">
			<permission>edit_header</permission>
			<permission>statistics</permission>
			<permission>view_output</permission>
			<permission>full_validation</permission>
			<permission>add_words</permission>
			<permission>reassign</permission>
		</role>
		<role id="галоўны_рэдактар">
			<permission>edit_header</permission>
			<permission>statistics</permission>
			<permission>view_output</permission>
			<permission>full_validation</permission>
			<permission>add_words</permission>
			<permission>reassign</permission>
		</role>
	</roles>
	<states>
		<state id="Неапрацаванае">
			<change to="У працы " roles="укладальнік,admin" />
		</state>
		<state id="У працы " edit_roles="укладальнік,рэдактар">
			<change to="Падрыхтаванае" roles="укладальнік,admin" />
			<change to="На выдаленне " roles="укладальнік,admin" />
		</state>
		<state id="Падрыхтаванае" edit_roles="рэдактар">
			<change to="Зацверджанае" roles="рэдактар,admin" />
			<change to="На дапрацоўку " roles="рэдактар,admin" />
		</state>
	</states>
	<external_links>
		<link name="slounik.org">http://slounik.org/search?search={}</link>
		<link name="bnkorpus.info">http://bnkorpus.info/#w0.word={}</link>
	</external_links>
</config>
