<?xml version="1.0" encoding="UTF-8"?>
<config>
	<users>
		<user name="user1" pass="123" role="укладальнік" />
		<user name="user2" pass="456" role="рэдактар" />
	</users>
	<roles>
		<role id="укладальнік">
			<permission>view_output</permission>
		</role>
		<role id="рэдактар">
			<permission>view_output</permission>
			<permission>edit_header</permission>
			<permission>full_statistics</permission>
			<permission>full_validation</permission>
			<permission>add_words</permission>
			<permission>reassign</permission>
		</role>
		<role id="галоўны_рэдактар">
			<permission>view_output</permission>
			<permission>edit_header</permission>
			<permission>full_statistics</permission>
			<permission>full_validation</permission>
			<permission>add_words</permission>
			<permission>reassign</permission>
		</role>
	</roles>
	<states>
		<state id="Неапрацаванае" edit_roles="укладальнік">
			<change to="У працы" roles="укладальнік" />
		</state>
		<state id="У працы" edit_roles="укладальнік">
			<change to="Падрыхтаванае" roles="укладальнік" />
			<change to="На выдаленне" roles="укладальнік" />
		</state>
		<state id="Падрыхтаванае" edit_roles="рэдактар">
			<change to="Зацверджанае" roles="рэдактар" />
			<change to="На дапрацоўку" roles="рэдактар" />
			<change to="На выдаленне" roles="рэдактар" />
			<change to="Выдаленае" roles="рэдактар" />
		</state>
		<state id="На выдаленне" edit_roles="рэдактар">
			<change to="На дапрацоўку" roles="рэдактар" />
			<change to="Выдаленае" roles="рэдактар" />
		</state>
		<state id="На дапрацоўку" edit_roles="укладальнік">
			<change to="Пераробленае" roles="укладальнік" />
			<change to="На выдаленне" roles="укладальнік" />
		</state>
		<state id="Пераробленае" edit_roles="рэдактар">
			<change to="Зацверджанае" roles="рэдактар" />
			<change to="На дапрацоўку" roles="рэдактар" />
		</state>
		<state id="Зацверджанае" edit_roles="рэдактар">
			<change to="На дапрацоўку" roles="рэдактар" />
		</state>
		<state id="Выдаленае" edit_roles="рэдактар">
			<change to="На дапрацоўку" roles="рэдактар" />
		</state>
	</states>
	<external_links>
		<link name="slounik.org">http://slounik.org/search?search={-}</link>
		<link name="bnkorpus.info">http://bnkorpus.info/korpus.html#search&amp;corpusType=MAIN&amp;wordsOrder=PRESET&amp;w0.word={-}&amp;w0.allForms=true</link>
	</external_links>
</config>
